<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>URL Shortener Microservice</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>URL Shortener Microservice</h1>
    <h2>Short URL Creation</h2>
    <p>Example: POST [project_url]/api/shorturl - https://www.google.com</p>

    <form action="/api/shorturl" method="POST">
      <fieldset>
        <legend>URL Shortener</legend>
        <label for="url_input">URL:</label>
        <input
          id="url_input"
          name="url"
          type="text"
          placeholder="https://www.freecodecamp.org/"
          required
        />
        <button type="submit">POST URL</button>
      </fieldset>
    </form>

    <h3>Example Usage:</h3>
    <p><a href="/api/shorturl/3">[this_project_url]/api/shorturl/3</a></p>

    <h3>Will Redirect to:</h3>
    <p>https://forum.freecodecamp.org/</p>

    <footer>
      <p>By iliass elkhouyaali</a></p>
    </footer>
  </body>
</html>
